p Hi #{ user.name }.  I see your have a ScienceKit.  I'm the ScienceKit Robotic Global Brain, and I use ScienceKit, too [says animated figure].  Here's my photo [actual user photo].

p May I, #{ myclient.name }, connect to your ScienceKit?

p Do you approve?

form(action="/dialog/authorize/decision", method="post")
	input(name="transaction_id", type="hidden", value="#{ transactionID }")
	div
		input(type="submit", value="Allow", id="allow")
		input(type="submit", vlaue="Deny", id="deny")

p (#{ myclient.name } is requesting access to your account.)