extends layout

block content
	h1 authorize client

	p
		strong #{ myclient.name } 
		| is requesting access to your account resources.

	p Do you approve?

	form(action="/dialog/authorize/decision", method="post")
		input(name="transaction_id", type="hidden", value="#{ transactionID }")
		div
			input(type="submit", value="Allow", id="allow")
			input(type="submit", vlaue="Deny", id="deny")