extends layout

block content
	img(src="/images/sciencekit-logo.png", alt="sciencekit logo")
	p(class="tagline") tell your story
	- if(user)
		p Hello #{ user.name }.
		p
			a(href="/logout") logout
			br
			a(href="/timeline") timeline

		hr

		//p
		//	b Settings

		//p Add client (who should have to create this? developer (me)?  each school deployment (their "developers/admins")?  each user? ) [from device or from desktop, with web access?]
		
		a(href="/oauth/exchange") authorize ScienceKit

	- else
		p(class='login-step') 1. 
			a(href="/signup") signup
		p(class='login-step') 2. 
			a(href="/login") login