!!!
html
	head
		title #{ title }
		link(rel="stylesheet", href="/stylesheets/style.css")
		
	body
		h1 #{ title }
		p Welcome to #{ title }!
		- if(user)
			p Hello #{ user.name }.
			p
				a(href="/logout") Logout

			hr

			p
				b Settings

			p Add client (who should have to create this? developer (me)?  each school deployment (their "developers/admins")?  each user? ) [from device or from desktop, with web access?]
			
			a(href="/oauth/exchange") Authorize ScienceKit

		- else
			p Sign Up
			a(href="/login") Login