extends layout

block content

	h1 Authorize ScienceKit Client
	h2 Request authorization grant from resource owner (human, authenticated user)
	a(id="authorize_link", href="javascript:void(0);") Authorize
	p Received authorization grant (identified by authorization code) 'code': #{ authorization_code }

	hr

	h2 Exchange client's authorization grant for a client access token
	a(id="auth_link", href="javascript:void(0);") Authenticate ScienceKit
	p(id="token_response") no token received

	hr

	h2 Request resource (on behalf of owner that granted authorization)
	a(id="account-list", href="javascript:void(0);") Request resource (using access token)
	p(id="resource_response") no resource received

	hr

	h2 Timeline (socket.io Demo)
	p Micro-contribution: 
		input(id="outgoingChatMessage")
	ul(id="incomingChatMessages")

	hr

	a(href="/") << Home