extends layout

block content

	img(src="/images/sciencekit-logo.png", alt="sciencekit logo")
	p(class="tagline") tell a story

	.timeline(id="timeline")
		ul(id="timeline-list")




	p(class="tagline") what happens next, #{ user.username }?

	p(id="action-palette", class="action-palette")
		a(id="create-thought-button", data-artifact-type="thought", href="javascript:void(0);") thought 
		
	p(class="action-palette")
		| photo 

	script
		$('#create-thought-button').click(function() {
			var e = addThought({ 
				message: { 
					text: 'Hey! Hey! Hey!'
				}, 
				account: { 
					username: 'Mike' 
				}
			});

			return false;
		});

		$('#create-question-button').click(function() {
			var e = addQuestion({ 
				message: { 
					text: 'Hey! Hey! Hey!'
				}, 
				account: { 
					username: 'Mike' 
				}
			});

			return false;
		});

		$('#create-cause-and-effect-button').click(function() {
			addCauseAndEffect({ 
				message: { 
					text: 'Hey! Hey! Hey!'
				}, 
				account: { 
					username: 'Mike' 
				}
			});
			return false;
		});

		$('#create-step-by-step-button').click(function() {
			addStepByStep({});
			return false;
		});

		$('#create-note-button').click(function() {
			addNote({});
			return false;
		});
