body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #00b7ff;
}
p.tagline {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}
p.login-step {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
}
a:link {
  text-decoration: none;
  color: #6478b8;
}
a:visited {
  text-decoration: none;
  color: #6478b8;
}
a:active {
  text-decoration: none;
  color: #6478b8;
}
a:hover {
  text-decoration: none;
  color: #6478b8;
}
