body
	padding: 50px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
	font-weight: 300
	-webkit-font-smoothing: antialiased

a
	color: #00B7FF

font-face()
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
	font-weight: 300
	font-size: arguments
	-webkit-font-smoothing: antialiased

p.tagline
	font-face(20px)

p.login-step
	font-face(30px)

a:link
	text-decoration: none
	color: #6478b8

a:visited
	text-decoration: none
	color: #6478b8

a:active
	text-decoration: none
	color: #6478b8

a:hover
	text-decoration: none
	color: #6478b8